*.AppleDouble
*.pyc
*.swn
*.swo
*.swp
*~
.DS_Store
.idea
.settings
.tags
.ctrlp
.ycm_extra_conf.py
webpack-stats.json
npm-debug.log
Thumbs.db
__pycache__/
build/
db.sqlite3
node_modules/
webpack-stats.json
yarn-error.log

/ethica_server/settings/**
!/ethica_server/settings/__init__.py
!/ethica_server/settings/base.py
!/ethica_server/settings/example.py
/.venv/
/.test/
/.out/
/.build/
/pyrobuf_generated.egg-info/
/dist/
/learn/
/activate
logs*
/media/EthicaLogger_NightlyBuild.apk
/media/media/
/media/study
/media/resp_files
/media/ds_upload/
.log/
.profiler/
.vscode/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir